<!DOCTYPE html>
<html>
<head>
<title>Student Register</title>
</head>

<body>

<h2>Student Register</h2>

<form method="POST">

<label>Username</label><br>
<input type="text" name="username" required><br><br>

<label>Email ID</label><br>
<input type="email" name="email" required><br><br>

<label>Password</label><br>
<input type="password" name="password" required><br><br>

<label>Confirm Password</label><br>
<input type="password" name="confirm_password" required><br><br>

<label>Course</label><br>
<input type="text" name="course" required><br><br>

<button type="submit">Submit</button>

</form>

<br>

<a href="/">Login</a>

</body>
</html>